@font-face {
	font-family: 'Aventura'; 
	src: url(../fonts/Aventura.otf);
}

.nav li {
    display: inline-block;
	margin-left: 30px;
	font-size: 30px;
	line-height: 1.1;
	color: black; 

}


.nav-item a {
	padding-left: 40px;
	color: black;
	margin-left: 8px;
	font-size: 22px;
	text-decoration: none;
	font-family: 'Source Sans Pro', sans-serif;	
 }
.nav-item:hover {
    opacity: 0.3;
    transition: 360ms ease-in-out;
}

.nav-brand {
	margin-left: 40px;
    
	text-transform: uppercase;
	font-family:'Aventura'; 
}
.nav-brand, .nav{
	cursor: default;
}
.stilus {
	justify-content: center;
	line-height: 1.6px;
    margin-left: 22px;   
	float: right;
}
.stilus li {
	font-size: 20px;
	font-style: normal;
	display:inline-block; 
}
#hr {
	min-width: 100%;
}

img {
        border-radius: 50%;
      }
body {background-color: white; margin-bottom: 0px}
#logo {
 	width: 40px;
 	height:35px;
 	margin-right: auto;
 	margin-left: 20px;
 	display: inline-block;

 }
#my-header {
	background-attachment: scroll;
	width: 100%;
    font-style: normal;
    margin-bottom: 0px;
}
.roditel {
	border-top-style:ridge;
	background-color: #ffa801;
    background-repeat:no-repeat;
    background-size: cover;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.nav {
    float:left;
	padding-left:40px;
	margin-top: 0px;
	margin-bottom: 10px;

}
.mainmamka {
	background-color: white;
	flex-wrap: wrap;
	justify-content: center;
	display: flex;
	width: 800px;
	min-height: 100%;
	-webkit-box-shadow:0px 0px 33px 0px rgba(0, 0, 0, 0.79);
	-moz-box-shadow:0px 0px 33px 0px rgba(0, 0, 0, 0.79);
	box-shadow: 0px 0px 33px 0px rgba(0, 0, 0, 0.79); 

} 
footer {
	position: relative;
	width: 100%;
	background-color: #f53b57;
	color: white;
	text-align: center;
	margin:8px 0px 0px 0px;

}


.containerm {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	background: white;
	width: 290px;
	height: 400px;
	text-align: center;
	font-size: 20px;
}
.containerm a {
	cursor: pointer;
	font-size: 14px;
}


      
   
