@font-face {
	font-family: 'Aventura'; 
	src: url(../fonts/Aventura.otf);
}
img {
        border-radius: 50%;
      }
body {background-color: white; margin-bottom: 0px}
.nav {
    float:left;
	padding-left:40px;
	margin-top: 0px;
	margin-bottom: 10px;

}
.jumbotron {
    background-image: url('http://www.esri.com/~/media/Images/Banners/software/arcgis-open-data-banner-lg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
}

#article {
	display: inline-block;
	width: auto;
}
.navbar-article {
	margin-right: 60rem;
	margin-bottom: 8rem;
}

      
   
.footer {
	position: relative;
	bottom: 0;
	width: 100%;
	height: auto;
	align-items: center;
	justify-content: center;
}