
html, body {
	margin: 0;
	padding: 0;
}

.jumbotron {
    background-image: url('http://www.esri.com/~/media/Images/Banners/software/arcgis-open-data-banner-lg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
}

#portret {

}
.rs-img {
	width: 100%;
	max-width: 400px;
	height: auto;
}
div#portret > img {
		margin-top: 29px;
		vertical-align: middle;
		width: 400px;

}